.main {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: flex-start;
	min-height: 100vh;

	// .main__container
	&__container {
		display: flex;
		flex-grow: 1;
		flex-flow: column;
		justify-content: center;
		align-items: flex-start;
		gap: 40px;
		width: 100%;
	}
}
