:root {
  --color-black: #000;
  --color-red: #f00;
  --color-white: #fff;
  --color-grey: #f5f5f5;
  --color-dark: #6f6f6f;
  --font-size-default: 14px;
  --line-height-default: 1.5;
  --default-font:
    'Golos Text', -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, oxygen, ubuntu, cantarell,
    'Open Sans', 'Helvetica Neue';
}
