@use 'reset-css';
@use 'variables';
@use 'mixins' as mixins;
@use './components/AppButton';
@use './components/AppHeader';
@import 'https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap';

html,
body {
  font-weight: 400;
  font-size: var(--font-size-default);
  line-height: var(--line-height-default);
  font-family: var(--default-font), sans-serif;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.1;
  text-transform: uppercase;

  @include mixins.desktop {
    font-size: 64px;
  }
}
