@use 'variables';
@use 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

html,
body {
  font-family: 'Golos Text', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: var(--font-size-default);
  line-height: var(--line-height-default);
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}
