@use 'assets/css/mixins' as mixin;

.product {
	position: relative;
	display: flex;
	flex-flow: column;
	gap: 15px;
	color: var(--color-black);
	text-decoration: none;

	@include mixin.desktop {
		gap: 31px;
	}

	// .product__image-wrapper
	&__image-wrapper {
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 56%;
	}

	// .product__image
	&__image {
		position: absolute;
		object-fit: cover;
		inset: 0;
		width: 100%;
		height: 100%;
	}

	// .product__content
	&__content {
		display: flex;
		flex-flow: column;
		gap: 3px;

		@include mixin.desktop {
			gap: 0;
		}
	}

	// .product__price
	&__price {
		display: flex;
		flex-flow: column;

		@include mixin.desktop {
			flex-flow: row;
			align-items: center;
			gap: 14px;
		}
	}

	// .product__price-current
	&__price-current {
		font-weight: 500;
		font-size: 24px;
	}

	// .product__price-half
	&__price-half {
		display: inline-flex;
		align-self: flex-start;
		padding: 4px;
		line-height: 1;
		color: var(--color-white);
		background-color: var(--color-black);
		overflow: hidden;

		@include mixin.desktop {
			align-self: center;
		}
	}

	// .product__title
	&__title {
		font-size: 12px;

		@include mixin.desktop {
			font-size: 16px;
		}
	}

	// .product__favorite
	&__favorite {
		position: absolute;
		top: 10px;
		right: 10px;
		display: flex;
		width: 24px;
		height: 24px;
		padding: 0;
		border: none;
		background-color: transparent;
		cursor: pointer;
	}
}
